:root{
    --veryDarkBlue:hsl(243, 87%, 12%);
    --desaturatedBlue:hsl(238, 22%, 44%);
    --brightBlue:hsl(224, 93%, 58%);
    --moderateCyan:hsl(170, 45%, 43%);
    --lightGrayishBlue:hsl(240, 75%, 98%);
    --lightGray: hsl(0, 0%, 75%);

    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}
*{
    box-sizing: border-box;
}

h1, h2, h3, a{
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    align-items: center;
    margin-bottom: 120px;
}

.logo img{
    width:80px;
}

.navigation a{
    margin-left: 1rem;
    text-decoration: none;
    color: #000;
    font-size: 12px;
}

.get-started{


}

.hero-image{
    background-image: url("../images/illustration-1.svg");
    height: 220px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 1.8rem 2.5rem;
}

h1{
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 700;
    padding: 0 1rem;
}

.content p{
    text-align: center;
    padding: 0 2.5rem;
    font-size: .8rem;
    margin-bottom: 1.5rem;
}

.subscribe{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.subscribe input{
    width: 80%;
    height: 2rem;
    border-radius: 4px;
    font-size: 10px;
    text-indent: 1rem;
    border: 2px solid var(--lightGray);
}
.subscribe input::placeholder{
    opacity: .3;
    font-family: 'Raleway', sans-serif;

}
.subscribe button{
    width: 80%;
    height: 2rem;
    background-color: var(--brightBlue);
    color: var(--lightGrayishBlue);
    font-size: 10px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    border-radius: 4px;
    margin-bottom: 4rem;
}

.curve{
    width: 100%;
}

#middle{
    background-color: var(--lightGrayishBlue);
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.mid-image .hero-img {
    width: 70%;
}

.mid-content h2{
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

p{
    font-size: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
}

.mid-content a{
    font-family: 700;
    text-decoration: none;
    color: var(--moderateCyan);
    border-bottom: 2px solid var(--moderateCyan);
    padding-bottom: 3px;
    font-size: .7rem;
}

.quote{
    background-color: #fff;
    margin: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 20px var(--lightGray);
    text-align: left;
    padding: 1rem 1.5rem;
}

.quote p{
    padding: 0;
    font-size: .6rem;
    
}
.testimonial{
    display: flex;
    align-items: flex-start;
    
}

.testimonial img{
    width: 1.5rem;
    border-radius: 50%;
    margin-right: .5rem;
}

.avatar-id{

}
.testimonial h3{
    font-size: .7rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0;
}

.testimonial p{
    font-size: .5rem;
    padding: 0;
    margin: 0;
}

.early-access{
    background-color: var(--desaturatedBlue);
    padding-top: 3rem;
}

.early-access h2{
    color: #fff;
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
}