:root{
    --veryDarkBlue:hsl(243, 87%, 12%);
    --desaturatedBlue:hsl(238, 22%, 44%);
    --brightBlue:hsl(224, 93%, 58%);
    --moderateCyan:hsl(170, 45%, 43%);
    --lightGrayishBlue:hsl(240, 75%, 98%);
    --lightGray: hsl(0, 0%, 75%);

    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}
*{
    box-sizing: border-box;
}

h1, h2, h3, a{
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    align-items: center;
    margin-bottom: 3rem;
}

.logo img{
    width:80px;
}

.navigation a{
    margin-left: 1rem;
    text-decoration: none;
    color: var(--desaturatedBlue);
    font-size: 12px;
    
}


.hero-image{
    background-image: url("../images/illustration-1.svg");
    height: 220px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 1.8rem 2.5rem;
}

h1{
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 700;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.content p{
    text-align: center;
    padding: 0 2.5rem;
    font-size: .8rem;
    margin-bottom: 1.5rem;
    
}

.subscribe{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    justify-content: center;
    align-items: center;
    position: relative;
}
.subscribe input{
    width: 80%;
    height: 2rem;
    border-radius: 4px;
    font-size: 10px;
    text-indent: 1rem;
    border: 1px solid #000;
}
.subscribe input::placeholder{
    opacity: .3;
    font-family: 'Raleway', sans-serif;

}
.subscribe button{
    width: 80%;
    height: 2rem;
    background-color: var(--brightBlue);
    color: var(--lightGrayishBlue);
    font-size: 10px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    border-radius: 4px;
    margin-bottom: 4rem;
}

.curve{
    height: 3rem;
    background-image: url("../images/bg-curve-mobile.svg");
    background-repeat: no-repeat;
}

#middle{
    background-color: var(--lightGrayishBlue);
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.mid-image .hero-img {
    width: 70%;
    margin-bottom: 3rem;
}

.mid-content h2{
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.mid-content p{
    font-size: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
}

.mid-content a{
    font-family: 700;
    text-decoration: none;
    color: var(--moderateCyan);
    border-bottom: 2px solid var(--moderateCyan);
    padding-bottom: 3px;
    font-size: .7rem;
}

.quote{
    background-color: #fff;
    margin: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 20px var(--lightGray);
    text-align: left;
    padding: 1rem 1.5rem;
}

.quote p{
    padding: 0;
    font-size: .6rem;
    
}
.testimonial{
    display: flex;
    align-items: flex-start;
    
}

.testimonial img{
    width: 1.5rem;
    border-radius: 50%;
    margin-right: .5rem;
}

.testimonial h3{
    font-size: .7rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0;
}

.testimonial p{
    font-size: .5rem;
    padding: 0;
    margin: 0;
}

.early-access{
    background-color: var(--desaturatedBlue);
    color: #fff;
    text-align: center;
    padding-top: 3rem;
}

.early-access h2{
    font-size: 1rem;
    font-weight: 700;
}

.early-access p{
    font-size: .7rem;
    padding: .5rem 3.3rem;
}
.early-access input{
    width: 65%;
    height: 2rem;
    font-size: 10px;
    text-indent: .2rem;
    margin-bottom: .3rem;
}
.early-access input::placeholder{
    opacity: .3;
    font-family: 'Raleway', sans-serif;

}

.early-access button{
    width: 65%;
    height: 2rem;
    background-color: var(--brightBlue);
    color: var(--lightGrayishBlue);
    font-size: 10px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 3rem;
}

footer{
    background-color: var(--veryDarkBlue);
    padding-top: 2rem;
    color:#fff;
    padding-left: 2rem;
    font-size: .7rem;
    padding-bottom: 3rem;
}

footer svg{
    width: 8rem;
    margin-bottom: 1.5rem;
}

.contacts{
    margin-bottom: 2.5rem;
}

.contacts img{
    width: .8rem;
    margin-right: .7rem;
}
footer a{
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: .7rem;
}

.links{
    margin-bottom: 2rem;
}

.terms{
    margin-bottom: 2rem;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons i{
    color: #fff;
    border: 1px solid var(--lightGray);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    padding: .5rem .3rem;
    margin-right: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

input:invalid + #error1::after{
    content: 'Please check your email';
    color: red;
    font-size: .6rem;
    position: absolute;
    top: 2rem;
    left: 2.4rem;
}

@media (min-width:1440px){
    nav{
        padding: 3rem;
    }
    .logo img{
        width:150px;
        padding-left: 1rem;

    }
    .navigation a{
        font-size: 1rem;
        margin-right: 2rem;
    }
    section.get-started{
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        align-items: center;
        padding-left: 2rem;
        margin-bottom: 4rem;
    }
    .hero-image{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        height: 400px;
    }
    .content{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        padding-left: 2.5rem;
    }
    h1{
        font-size: 2.5rem;
        text-align: left;
        padding: 0;
    }
    .content p{
        text-align: left;
        font-size: 1.1rem;
        padding: 0;
        padding-right: 4.4rem;
    }
    .subscribe{
        align-items: flex-start;
        justify-content: start;
        flex-direction: row;
        position: relative;
    }
    .subscribe input{
        width: 50%;
        height: 2.5rem;
        border-radius: 2px;
        font-size: 1rem;
    }
    .subscribe button{
        width: 25%;
        height: 2.5rem;
        font-size: 1rem;
    }
    .curve{
        background-image: url("../images/bg-curve-desktop.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 6rem;
    }
    #middle{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        padding-top: 5rem;
    }
    .mid-image .hero-img {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .mid-content{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        text-align: left;
        padding-left: 4rem;
    }
    .mid-content h2{
        font-size: 2.7rem;
    }
    .mid-content p{
        padding-left: 0;
        padding-right: 10rem;
        font-size: 1.1rem;
    }
    .mid-content a{
        font-size: 1rem;
    }
    .mid-content a:hover{
        opacity: .5;
        color: var(--moderateCyan);
    }
    .quote{
        margin-left: 0;
        width: 50%;
        padding-left: 2rem;
        margin-bottom: 4rem;
        padding-bottom: 1.5rem;
    }

    .quote p{
        font-size: .9rem;
        padding-right: 1rem;
    }
    .testimonial p{
        font-size: .6rem;
    }
    .early-access{
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        padding-left: 4rem;
        padding-bottom: 3rem;
        text-align: left;

    }
    .early-access h2{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .early-access p{
        padding: 0;
        width: 67%;
        font-size: .9rem;
        font-weight: 400;
    }
    .early-subscribe{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
    }
    .early-access input{
        width: 60%;
        height: 2.5rem;
        text-indent: 1rem;
        font-size: .8rem;
    }
    .early-access button{
        margin: 0;
        height: 2.5rem;
        width: 30%;
        font-size: 1rem;
    }

    footer{
        padding-left: 4rem;
    }
    footer svg{
        margin-top: 3rem;
    }
    .footer-area{
        display: grid;
        grid-template: 1fr / 300px 300px 300px 300px;
    }
    footer p{
        font-size: 1rem;
    }
    footer a{
        font-size: 1rem;
    }
    .icons{
        align-items: normal;
    }
    .icons i{
        width: 30px;
        height: 30px;
    }
    .links, .terms{
        text-align: center;
        margin-bottom: 0;
    }
    a:hover{
        cursor: pointer;
        color: var(--brightBlue);
    }
    button:hover{
        cursor: pointer;
        filter: brightness(150%);
    }
    input:invalid{
        border: 1px solid red;
    }
    input:focus{
        outline: none;
    }
    #error1{
        position: absolute;
        top: 2.6rem;
    }
    #error2{
        position: absolute;
        top: 2.3rem;
    }

    input:invalid + #error1::after{
        content: 'Please check your email';
        color: red;
    }
    input:invalid + #error2::before{
        content: 'Please check your email';
        color: #fff;
        font-size: .8rem;
    }
    .icons i:hover{
        cursor: pointer;
        color: var(--brightBlue) !important;
        border-color: var(--brightBlue);
    }
}